.container {
  height: 200vh;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "head head head nav nav nav nav nav nav nav nav nav" 
                       "main main main main main main main main main main main main" 
                       "footer  footer footer footer footer footer footer footer footer footer footer footer";
}

header{
  grid-area: head;
  background-color: white;
  height: 10vh;
  
}

header > .icon{
  justify-self: end;
  width: inherit;
  
}

header > .icon img{
  display: block;
  margin: auto;
  width: inherit;
}

nav{
  height: 10vh;
  grid-area: nav;
  background-color: #ffffff;
  
  }

  nav ul{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(8, auto);
    text-align: center;
    padding-left: 0px;
}

nav a{
  font-size: 1.5vw;
  font-family: karla;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

nav a:hover{
  color: #495E57;
}


main{
  grid-area: main;
  height: 170vh;
  width: 100vw;
  }



#hero{
  background-color: #495E57;
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: 2fr 1fr;
  height: 50vh;
  width: 100vw;
  margin-top:0%;
  margin-bottom: 0%;
  
}

#about{
  grid-column: 3/ span 6;
  grid-row: 1/ span 1;
  height: 30vh;
  padding: 0px;
}

#about h1{
  color: #F4CE14;
  font-size: 5vw;
  margin: 0px;
}

#about h3{
  color: #FFFFFF;
  font-size: 3vw;
  margin: 0%;
}

#about p{
  color: #FFFFFF;
  font-size: 1.5vw;
  text-align: left;
  margin: 0%;
}

#restaurant-food{
  height: 50vh;
  width: 75%;
  grid-column: 9/ span 11;
  grid-row: 1/ span2;
  margin-top: 10%;
  border-radius: 5%;
  
  
}

#restaurant-food img{
  border-radius: 5%;
  height: inherit;
  width: 100%;
  
  
}

#reserve-button{
  height: 10vh;
  width: 10vw;
  background-color: #F4CE14;
  grid-column: 3/ span 5;
  grid-row: 2/ span 2;
  text-align: center;
  

}

#specials{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0%;
  margin-bottom: 0%;
  background-color: white;
  height: 70vh;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: 0.25fr 2fr;
  grid-template-areas: "heading heading heading"
                       "greek-salad bruchetta lemon-dessert";

}

#specials > h1{
  grid-area: heading;
}

.dish{
  height: 55vh;
  width:90%;
  margin: auto;
  background-color: #EDEFEE;
  border-radius: 5%;

}

.dish-img{
  height: 20vh;
  width:100%;
  border-radius: 5%;

}


.dish-img > img {
  height: 100%;
  width: 100%;
  border-radius: 5%;

}

.greek-salad{
  grid-area: greek-salad;
}


.bruchetta{
  grid-area: bruchetta;

  }

.lemon-dessert{
  grid-area: lemon-dessert;
}

.dish-dsp{
  height: 35vh;
  width:100%;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: 1fr, 3fr;
}

.dish-dsp .name{
  grid-column: 1/ span 1;
  grid-row: 1/ span 1;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
}

.dish-dsp .price{
  grid-column: 2/ span 1;
  grid-row: 1/ span 1;
  color: #EE9972;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
}

.dish-dsp p{
  grid-column: 1/ span 2;
  grid-row: 2/ span 1;
  margin-top: 0px;
  text-align: left;
  font-size: 80%;
  margin-left: 5%;
  margin-right: 5%;
  overflow:auto;
  color: #495E57;
  font-weight: bold;
}

.dish:hover {
  
  box-shadow: 0 10px 10px #F4CE14;
}

#testimonials{
  width: 100%;
  background-color: white;
  height: 50vh;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  margin-top: 0%;
  margin-bottom: 0%;
}

.customer{
  height: 35vh;
  width:98%;
  margin: auto;
  background-color: #F4CE14;
  border-radius: 2%
  ;

}

.customer:hover {
  
  box-shadow: 0 10px 10px #495E57;
}

.cone{
  grid-column: 1/ span 1;
}

.ctwo{
  grid-column: 2/ span 1;
}

.cthree{
  grid-column: 3/ span 1;
}

.cfour{
  grid-column: 4/ span 1;
}

.customer-img{
  height: 20vh;
  width:50%;
  border-radius: 100%;
  margin: auto;
  margin-top: 5%;

}


.customer-img > img {
  height: 100%;
  width: 100%;
  border-radius: 100%;

}

.customer-review{
  height: 15vh;
  width:100%;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: 1fr, 1fr;
}

.customer-review .name{
  grid-column: 1/ span 1;
  grid-row: 1/ span 1;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  color: #495E57;
  font-weight: bold;
  font-family: cursive;
  font-size: 100%;
}

.customer-review .ratings{
  grid-column: 2/ span 1;
  grid-row: 1/ span 1;
  color: #495E57;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  font-weight: bold;
}

.customer-review p{
  grid-column: 1/ span 2;
  grid-row: 2/ span 1;
  margin-top: 0px;
  font-size: 80%;
  margin-left: 5%;
  margin-right: 5%;
  color: #495E57;
  font-weight: bold;
  font-family:cursive;
  overflow:auto;
}


footer{
  grid-area: footer;
  background-color: #495E57;
  height: 20vh;
  width: 100vw;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: repeat(4,1fr);
  display:grid;
}  

footer> .icon{
  display: grid;
  grid-column: 2/ span 4 ;
  grid-row: 2/span 2;
  
}

footer > .contact-us{
  display: grid;
  grid-column: 7/ span 3 ;
  grid-row: 2/span 2;
  
}

footer > .social-media{
  display: grid;
  grid-column: 10/ span 3 ;
  grid-row: 2/span 2;
  
}

footer > .icon img{
  margin: auto;
  width: inherit;
}

footer a{
  font-size: 1vw;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

footer li{
  font-size: 1vw;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

footer ul{
  list-style: none;
}






